/* background-designTop */
:root {
  --orange: #f78c6b;
  --blue: #4ac0c0;
  --yellow: #ffd166;
}

/* logo-container */
.logo_container {
  --background-color: green;
}

.logo {
  margin: 30px 0 0 20px;
  width: 70px;
  height: 70px;
  background-image: url(../Images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  --background-color: blue;
}

.BarShadow {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.background_designTop {
  display: flex;
  flex-direction: column;
  justify-items: start;
  --background-color: red;
}

.BarTop {
  height: 120px;
  border-radius: 0px 50px 50px 0px;
}

.orangeTop {
  width: 25%;
  margin-bottom: -30px;
  z-index: 3;
  background-color: var(--orange);
}

.blueTop {
  width: 20%;
  margin-bottom: -40px;
  z-index: 2;
  background-color: var(--blue);
}

.yellowTop {
  width: 15%;
  z-index: 1;
  background-color: var(--yellow);
}

/* button.goBack */
.goBack_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
  width: auto;
  height: 100%;
  --background-color: pink;
}

.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 15px;
  width: 220px;
  font-family: "Big Shoulders Display";
  color: black;
  font-size: 30px;
  font-weight: 700;
  border-color: black;
  background-color: transparent;
  border-radius: 50px;
}

button.goBack:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: black;
}

.arrowLeft {
  color: black;
  margin: 0 0 5px 10px;
  font-size: 30px;
}

.backbutton_line {
  padding: 0;
  margin: 20px 0 0 0;
  height: 1px;
  width: 100%;
  background-color: black;
}

.question {
  margin: 20px 2px 2px 2px;
  font-family: "Big Shoulders Display";
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  --background-color: aqua;
  color: black;
}

.question_top_line {
  height: 1px;
  width: 90%;
  background-color: black;
}

/* emoji */

.emoji {
  width: 30%;
}

.emoji_button {
  width: 270px !important;
  font-family: "Big Shoulders Display";
  color: white !important;
  border-color: black;
  border-radius: 20px;
}

.emoji_button:hover {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-color: black;
}

.emoji_button_orange {
  background-color: var(--orange) !important;
  border-color: black;
}
.emoji_button_blue {
  background-color: var(--blue) !important;
  border-color: black;
}
.emoji_button_yellow {
  background-color: var(--yellow) !important;
  border-color: black;
}

.emoji_text {
  font-family: "Big Shoulders Display";
  font-size: 30px;
  font-weight: 600;
  white-space: pre-line;
}

/* background-designBot */
.background_designBot {
  display: flex;
  flex-direction: column;
  --background-color: red;
}

.BarBot {
  height: 120px;
  border-radius: 50px 0px 0px 50px;
}

.orangeBot {
  width: 30%;
  margin-bottom: -30px;
  z-index: 3;
  background-color: var(--orange);
}

.blueBot {
  width: 35%;
  margin-bottom: -40px;
  z-index: 2;
  background-color: var(--blue);
}

.yellowBot {
  width: 25%;
  z-index: 1;
  background-color: var(--yellow);
}

@media (min-width: 320px) {
  .mobile_margin {
    margin-bottom: 20px;
  }
  .question_top_line {
    width: 90%;
  }
  .question {
    margin: 10px 5% 15px 5%;
  }
  .logo { 
    margin: 30px 0 0 30px;
    width: 55px;
    height: 55px;
  }
  .goBack_container {
    margin: 10px 35px 0 0; 
    width: auto;
    height: 100%;
  }
  .goBack {
    width: 45px;
    height: 45px;
    font-size: 0px;
    border-radius: 100%;
  }
  .arrowLeft {
    margin: 0;
    color: black;
    font-size: 22px;
  }
  .emoji {
    width: 20%;
  }
  .emoji_button {
    width: 200px;
  }
}

@media (min-width: 370px) {
  .question {
    font-size: 35px;
  }
}

@media (min-width: 425px) {
  .mobile_margin {
    margin: 0px;
  }
}

@media (min-width: 768px) {
  .goBack {
    width: 160px;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 15px;
  }
  .arrowLeft { 
    font-size: 30px;
    padding-right: 10px;
  }
  .BarTop {
    height: 100px;
  }
  .BarBot {
    height: 100px;
  }
  .emoji_button {
    width: 230px !important;
    color: white !important;
  }
  .question {
    margin: 0px 2px 20px 2px;
    font-size: 45px;
  }
}

@media (min-width: 1024px) {
  .BarTop {
    height: 70px;
  }
  .BarBot {
    height: 70px;
  }
  .goBack_container {
    margin-right: 80px;
  }
  .goBack {
    width: 180px;
    height: 60px;
    font-size: 25px;
  }
  .arrowLeft {
    font-size: 30px;
  }
  .question {
    font-size: 35px;
  }
  .emoji_text {
    font-size: 25px;
  }
  .emoji_button {
    width: 300px !important;
  }
}

@media (min-width: 1440px) {
  .BarTop {
    height: 90px;
  }
  .BarBot {
    height: 90px;
  }
  .logo {
    margin: 10px 0 0 10px;
    width: 75px;
    height: 75px;
  }
  .goBack_container {
    margin-right: 150px;
  }
  .goBack {
    margin-right: 20px;
    width: 210px;
    font-size: 30px;
    border-radius: 50px;
  }
  .arrowLeft {
    font-size: 30px;
  }
  .question {
    margin: 0px 2px 20px 2px;
    font-size: 50px;
  }
  .emoji_text {
    font-size: 35px;
  }
  .emoji_button {
    width: 300px !important;
  }
}

@media (min-width: 2560px) {
}
