  /* background-designTop */
  :root {
    --orange: #f78c6b;
    --blue: #4ac0c0;
    --yellow: #ffd166;
  }
  
  /* Ensure rows in the nested grid divide equally */
  .row > .col > .row {
    margin: 0;
  }

  /* logo-container */
  .logo_container {
    --background-color: red;
  }
  
  .logo {
    margin: 30px 0 0 20px;
    width: 70px;
    height: 70px;
    background-image: url(../Images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .BarShadow {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  }
  
  .background_designTop {
    display: flex;
    flex-direction: column;
    --background-color: blue;
  }
  
  .BarTop {   
    height: 120px;
    border-radius: 50px 0 0 50px;
  }
  
  .orangeTop {
    width: 90%;
    margin-bottom: -30px;
    z-index: 3;
    background-color: var(--orange);
  }
  
  .blueTop {
    width: 95%;
    margin-bottom: -25px;
    z-index: 2;
    background-color: var(--blue);
  }
  
  .yellowTop {
    width: 100%;
    z-index: 1;
    background-color: var(--yellow);
  }
  
  /* quote */
  .quote {
    word-wrap: break-word;
    margin: 10% 0 5% 0;
    font-family: "Big Shoulders Display";
    font-size: 50px;
    text-align: center;
    line-height: 1.2;
    font-weight: 900;
    --background-color: green;
  }
  
  /* button.getStarted */   
  Button.getStarted {
    width: 210px;
    font-family: "Big Shoulders Display";
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 1% 15%;
    border-color: black;
    background-color: transparent;
    border-radius: 50px;
  }
  
  button.getStarted:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .arrowRight {
    color: black;
    margin: 0 0 5px 10px;
    font-size: 30px;
  }
  
  .learnMoreText_container {
    font-family: "Big Shoulders Display"; 
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10% 18%;
  }

  .learnMoreText {
    font-family: "Big Shoulders Display";
    width: fit-content;
    margin: 0 0 5px 10px;
    text-decoration: none;
    color: black;
  }

  .learnMoreText:hover {
    color: gray;
    text-decoration: underline;
    cursor: pointer;
  }
  /* background-designBot */
  .background_designBot {
    display: flex;
    flex-direction: column;
    ---background-color: black;
  }
  
  .BarBot {
    height: 90px;
    border-radius: 0 50px 50px 0;
  }
  
  .orangeBot {
    width: 40%;
    margin-bottom: -30px;
    z-index: 3;
    background-color: var(--orange);
  }
  
  .blueBot {
    width: 50%;
    margin-bottom: -40px;
    z-index: 2;
    background-color: var(--blue);
  }
  
  .yellowBot {
    width: 30%;
    z-index: 1;
    background-color: var(--yellow);
  }
  
  .aboutUs_container {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    --background-color: orange;
  }

  .aboutUsText {
    margin: 15% 0 0 10%;
    font-family: "Big Shoulders Display";
    font-size: 26px;
    font-weight: 700;
  }

  .aboutUsTextP {
    margin: 0 0 8% 12%;
    padding: 0 10% 0 0;
    font-family: "Big Shoulders Display";
    font-size: 20px;
    font-weight: 400;
  }

  .phone_container {  
    display: none;
    justify-content: center;
    align-items: center;
    --background-color: purple;
  }

  .phone {
    margin: 10%;
    padding: 0;
    background-color: black;
  }

  /* Development Team Section */
  .devTeamSection {
    display: flex;
    flex-direction: column;
    background: white;
    font-family: "Big Shoulders Display";
    --background-color: pink; 
  }

  .devTeamTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0 0 0 2%;
    font-size: 16px;
  }

  .devTeamLine {
    flex-grow: 1;
    height: 1px;
    background-color: black;
    margin-left: 5px;
  }

  .devProfiles_container {
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;
    justify-content: center;
    --background-color: black;
  }

  .devProfile {
    display: flex;
    flex-direction: row;
    --background-color: green;
  }

  .devPicture {
    display: flex;
    margin: 10%;
    width: 35px;
    height: 60px;
    margin: 2% 10% 0 2%;
    object-fit: cover;
    flex: 1 1 30%; 
    max-width: 80px;
    background: #d3d3d3;
  }

  .devName {
    display: flex;
    font-weight: bold;
    line-height: 8px;
    font-size: 18px;
    margin-top: 5px;
  }

  .devRole {
    display: flex;
    font-size: 11px;
    color: gray;
  }

  .followUs_container {
    display: flex;
    line-height: 15px;
    --background-color: brown;
  }

  .followUs {
    font-family: "Big Shoulders Display";
    font-size: 25px;
    font-weight: 700;
    padding: 6% 0 0 8%;
  }
  
  .social_icons {
    display: flex;
    justify-content: space-evenly;
    --background-color: red;
  }
  
  .social_icons a {
    color: black;
    font-size: 25px;
    --background-color: white;
  }

  
  @media (min-width: 320px) {
    .logo {
      width: 50px;
      height: 50px;
    }
  
    .BarTop {
      height: 90px;
    }
    .BarBot {
      height: 90px;
    }
  }
  
  @media (min-width: 370px) {
    .logo {
      width: 70px;
      height: 70px;
    }
  
    .BarTop {
      height: 110px;
    }
    .BarBot {
      height: 110px;
    }
  }
  
  @media (min-width: 425px) {
    .BarTop {
      height: 120px;
    }
    .BarBot {
      height: 120px;
    }
  }
  
  @media (min-width: 768px) {
    .quote {
      margin: 0 0 20px 0;
      font-size: 55px;
      font-weight: 900;
    }
    .phone_display {
      width: 80%;  
    }
  }
  
  @media (min-width: 1024px) {
    .quote {
      font-size: 60px;
      font-weight: 900;
    }
    .phone_display {
      width: 80%;
    }
    .BarTop {
      height: 90px;
    }
    .BarBot {
      height: 90px;
    }
    .followUs {
      font-size: 35px;
    }
    .social_icons a{
      font-size: 35px;
    }
  }
  
  @media (min-width: 1440px) {
    .quote {
      font-size: 85px;
      font-weight: 900;
    }
    .phone_container {
      display: flex;
    }
    .BarTop {
      height: 120px;
    }
    .BarBot {
      height: 120px;
    } 
    .followUs {
      font-size: 45px;
    }
    .social_icons a{
      font-size: 40px;
    }
  }
  
  @media (min-width: 2560px) {
  }
  